<%= stylesheet_link_tag 'application.css'%>
<% unless comment.archived? %>

  <div class='comment'>
    <p>
    
    <strong><%= comment.commenter %></strong> said:
    </p>
    
    <div class='comment-body'>
    
     <%= comment.body %> 
     
    </div>
    <div class='created'>[+] Created <%= comment.created_at.strftime("%B %d, %Y, %T UTC") %> </div>
    <div class='IP'> IP: ( <%= comment.IP %> ) </div>
    
    <p>
        <button><%= link_to "Delete", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %></button>
    </p>
  </div>

    
    <%= turbo_include_tags %>
<% end %>

