<%= stylesheet_link_tag 'application.css'%>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <p class='invisible'>
    <%= form.label :IP %>
    <%= form.select :IP, [request.remote_ip], selected: request.remote_ip %>
    
     <%= form.label :status %><br> 
     <%= form.select :status, ['unresolved', 'resolved', 'archived'], selected: 'resolved' %> 
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>