 <% unless article.archived? %>
        <li class='article-summary'>
        <div class='article-title'>
        
        <%= link_to article.title, article %>
        </div>

        <div class='article-author'>
        <%= article.author %>
        </div>
        
        
        <div>
            <div class='timestamp' >created <%= article.created_at.strftime("%B %d, %Y, %T UTC") %></div>
            <div class='timestamp' >updated <%= article.updated_at.strftime("%B %d, %Y, %T UTC") %></div>
        </div>
    
        <% if article.status == 'resolved' %>
            <div class='status-good'><%= article.status %></div>
        <% else %>
            <div class='status-bad'><%= article.status %></div>
        <% end %>

        <div class='priority'>
            <% if article.priority == 'very low'%>
                <div class='very-low'><%= article.priority %></div>
            <% elsif article.priority == 'low' %>
                <div class='low'><%= article.priority %></div>
            <% elsif article.priority == 'medium' %>
                <div class='medium'><%= article.priority %></div>
            <% elsif article.priority == 'high' %>
                <div class='high'><%= article.priority %></div>
            <% elsif article.priority == 'very high' %>
                <div class='very-high'><%= article.priority %></div>
            <% end %>
        </div>
        
        

        </li>
    <% end %>