<div class='articles'>
<%= stylesheet_link_tag './assets/stylesheets/application.css '%>
    <h1>Issue Tracker.</h1>
    <div class='return-button'>
        <%= link_to "[+] Add a new issue", new_article_path %>
    </div>
    There are <%= Article.public_count %> unresolved issues. 
    <ul>
    <li class='article-summary'>
    <div>Title:</div>
    <div>Author:</div>
    <div>Time:</div>
    <div>Status:</div>
    <div>Priorty:</div>

    </li>
    <br>
    <% hash = {'very low' => 0,'low' => 1,'medium' => 2,'high' => 3, 'very high' =>  4}  %>
    <% @articles.filter { |e| e.status== 'unresolved'}.sort { |a,b| hash[a.priority] <=> hash[b.priority] }.reverse.each do |article|%>
    <%= render "article", article: article %>
    <% end %>
    </ul>
     There are <%= Article.resolved_count %> resolved issues.

    <% @articles.filter { |e| e.status== 'resolved'}.sort { |a,b| hash[a.priority] <=> hash[b.priority] }.reverse.each do |article|%>
    <%= render "article", article: article %>
    <% end %>
    </ul>
   
<div>