<%= stylesheet_link_tag 'application.css'%>
<div class='article'>
<%= turbo_include_tags %>
 <div class='article-main'>
    <h1><%= @article.title %> </h1>
    <h3>Posted by <%= @article.author %><h3>

     <h4> priority: <%= @article.priority %></h4>
    
    <div class='article-body'><%= @article.body %></div>
        
            <div class='created'>[+] Created <%= @article.created_at.strftime("%B %d, %Y, %T UTC") %> </div>
           
            
            <% if @article.updated_at != @article.created_at %>
                <div class='edited'>[*] Edited <%= @article.updated_at.strftime("%B %d, %Y, %T UTC") %> </div>
                
            <%end%>

            <div class='IP'>IP: [ <%= @article.IP %> ] </div>
 
        
    <div class='options'>
        <button><%= link_to "edit", edit_article_path(@article) %></button>
        <button><%= link_to "delete", article_path(@article), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        } %></button>
    </div>
    
 </div>

    <h2>Comments:</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
</div>
